hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgb(193, 184, 184);
}
.action-btns{
    text-align: right;
    margin-bottom: 20px;
}

.action-btns button{
    margin-left: 20px;
}

.error-msg {
    color: red;
}

.success-msg {
    color: green;
}